.navbar-static-top {
  	margin-bottom: 20px;
}

.navbar-inverse {
	background-color: transparent;
}

.navbar-static-top {
	border-width: 0 0 0;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.container-fluid {
	background: rgba(0, 0, 0, 0.75);
	min-height: 100%;
}

.panel {
	color: #fff;
	border: none;
}

.score-panel {
	background-color: rgba(0, 0, 0, 0.5);
}

.panel > .panel-heading {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
}

.panel > .score {
	border-bottom: none;
}

.panel > .score h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#hometeam {
	margin-right: 20px;
}

#awayteam {
	margin-left: 20px;
}

html, body {
  	height:100%;
}

body {
	padding-top: 0px; /* body padding for the top */
	background: url("../img/bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/****************************************************** STATS **/

span.assists {
	width: 28px;
}

span.matches {
	background-image: url(../img/icon_matches.png) !important;
}

span.goals {
	background-image: url(../img/icon_goals.png) !important;
}

span.assists {
	background-image: url(../img/icon_assists.png) !important;
}

span.points {
	background-image: url(../img/icon_points.png) !important;
}

span.stars {
	background-image: url(../img/icon_stars.png) !important;
}

.table > thead > tr > th.vertical-middle,
.table > tbody > tr > td.vertical-middle {
	vertical-align: middle;
}

.match-info-description {
	width: 25%;
}

.player-number {
	width: 10%;
}

.squad-name {
	width: 20%;
}

.stats-name {
	width: 90%;
}

.stats-top {
	width: 10%;
}
/******************************************************************END OF STATS **/


/****************************************************** LIVE FEED **/

.live-feed-minute,
.live-feed-happening {
	width: 50px;
}

.live-feed-description {

}

.live-feed-happening-span {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}

td.live-feed-minute { border-left: 5px solid transparent; }
td.live-feed-goal { border-left: 5px solid #77b300 }
td.live-feed-yellowcard { border-left: 5px solid #f3eb1b; }
td.live-feed-yellowredcard, 
td.live-feed-redcard { 
	border-left: 5px solid #cc0000; 
}

span.live-feed-comment,
span.live-feed-chance,
span.live-feed-whistle,
span.live-feed-change,
span.live-feed-yellowcard,
span.live-feed-yellowredcard,
span.live-feed-redcard,
span.live-feed-goal,
span.yellow,
span.yellowred,
span.red {
	background-image: url(../img/matchcommentary-sprite.png) !important;
}

span.live-feed-comment {
	background-position: left -721px;
}

span.live-feed-chance {
	background-position: left -401px;
}

span.live-feed-whistle {
	background-position: left -541px;
}

span.live-feed-change {
	background-position: left -581px;
}

span.live-feed-yellowcard,
span.yellow {
	background-position: left -261px;
}

span.live-feed-yellowredcard,
span.yellowred {
	background-position: left -281px;
}

span.live-feed-redcard,
span.red {
	background-position: left -301px;
}

span.live-feed-goal {
	background-position: left -81px;
}

/******************************************************************END OF LIVE FEED **/