<div class="col-md-12">
	<div class="page-header">
		<h2>Spillerstall</h2>
	</div>

	<!-- LOADING ICON =============================================== -->
	<!-- show loading icon if the loading variable is set to true -->
	<p class="text-center" ng-show="loading"><span class="fa fa-spinner fa-5x fa-spin"></span></p>

	<!-- THE PLAYERS =============================================== -->
	<!-- hide the players if the loading variable is true -->
	<div class="table-responsive">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th title="Nummer">#</th>
					<th>Navn</th>
					<th>Lag</th>
					<th title="Kamper" class="matches text-center">K</th>
					<th title="Mål" class="goals text-center">M</th>
					<th title="Assists" class="assists text-center">A</th>
					<th title="Poeng" class="points text-center">P</th>
					<th title="Gule kort" class="yellow text-center">YE</th>
					<th title="To gule kort" class="yellowred text-center">YE</th>
					<th title="Røde kort" class="red text-center">RE</th>
					<th title="Stjerner" class="stars text-center">S</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-hide="loading" ng-repeat="player in players">
					<td>{{ player.number }}</td>
					<td>{{ player.name }}</td>
					<td>A-lag<div>B-lag</div></td>
					<td class="text-center">0 (0)<div>0 (0)</div></td>
					<td class="text-center">0<div>0</div></td>
					<td class="text-center">0<div>0</div></td>
					<td class="text-center">0<div>0</div></td>
					<td class="text-center">0<div>0</div></td>
					<td class="text-center">0<div>0</div></td>
					<td class="text-center">0<div>0</div></td>
					<td class="text-center">{{ player.ateam_stars }}<div>{{ player.bteam_stars }}</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>